<ngx-charts-area-chart [view]="view"
                       [scheme]="colorScheme"
                       [results]="single"
                       [xAxis]="true"
                       [yAxis]="true"
                       [showXAxisLabel]="true"
                       [showYAxisLabel]="true"
                       [xAxisLabel]="'Time'"
                       [yAxisLabel]="'Tempreture'"
                       [autoScale]="true"
                       [legendPosition]="'below'"
                       [scheme]="'aqua'"
                       [showGridLines]="true"
                       [xAxisTickFormatting]="xAxisTickFormatting">
</ngx-charts-area-chart>